# -------------------------
# Python
# -------------------------
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
__pypackages__/

# Builds / packaging
build/
dist/
.eggs/
*.egg-info/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST

# Virtual envs
.venv/
venv/
env/
ENV/
.conda/

# Testing / coverage
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Type checking / lint caches
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/

# Jupyter
.ipynb_check_

data/